<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
</head>
<body>
    <h1>Crie sua conta</h1>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="senha">Criar senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>

        <label for="csenha">Confirmação de senha:</label>
        <input type="password" id="csenha" name="csenha" required><br><br>

        <label for="sexo">Sexo:</label>
        <select id="sexo" name="sexo" required>
            <option value="">Selecione</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outro">Outro</option>
        </select><br><br>

        <label for="data_nascimento">Data de nascimento:</label>
        <input type="date" id="data_nascimento" name="data_nascimento" required><br><br>

        <label for="admin">Administrador:</label>
        <select id="admin" name="admin" required>
            <option value="">Selecione</option>
            <option value="True">Sim</option>
            <option value="False">Não</option>
        </select><br><br>

        <input type="submit" value="Cadastrar">
    </form>

    <p>Não tem conta? <a href="login">Login</a></p>
</body>
</html>