<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>capa</title>
</head>
<body>
    <div class="container"
        <img src="pic_trulli.jpg" alt="Italian Trulli">  
        <h3>Conheça a biblioteca</h3>
        <h3>Destaques</h3>
        <h3>Contatos</h3>
  </div>
    <div class="butto1">
        <button type="cadastro" class="btn btn-primary">cadastro</button>
        <button type="login" class="btn btn-secondary">login</button>
  </div>
    <div class="frase">
        <h1>Bem Vindo a Sua Biblioteca virtual</h1>
        <p>O conhecimento do mundo ao seu alcance. A qualquer hora, em qualquer lugar.</p>
        <button type="Explorar"btn btn-primary">Explorar</button>
    </div>
    <div class="Destaques do acervo">
        <h2>Destaques</h2>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div class="conta">
        <img src="" alt="">
        <p>Crie uma conta</p>
        <p>Baixe livros e leia de qualquer lugar</p>
        <button>criar</button>
    </div>
</body>
</html>