<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='capa.css') }}">
</head>
<body>
    <div class="container">
        <img src="" alt="Imagem da Biblioteca">
        <h3>Conheça a biblioteca</h3>
        <h3>Destaques</h3>
        <h3>Contatos</h3>
    </div>

    <div class="buttons">
        <a href="cadastro"><button>Cadastro</button></a>
        <a href="login"><button>Login</button></a>
    </div>

    <div class="frase">
        <h1>Bem-vindo à sua Biblioteca Virtual</h1>
        <p>O conhecimento do mundo ao seu alcance. A qualquer hora, em qualquer lugar.</p>
        <button class="btn btn-primary">Explorar</button>
    </div>

    <div class="destaques-do-acervo">
        <h2>Destaques</h2>
        <img src="https://i.ibb.co/M5Mt8s4c/image.png" alt="image" border="0"></a>
        <img src="https://i.ibb.co/WN3L4dvv/image.png" alt="image" border="0"></a>
        <img src="https://i.ibb.co/LhpfjrmF/image.png" alt="image" border="0"></a>
    </div>

    <div class="conta">
        <img src="icone-conta.png" alt="Ícone de Conta">
        <p>Crie uma conta</p>
        <p>Baixe livros e leia de qualquer lugar</p>
        <button class="btn btn-primary">Criar</button>
    </div>
</body>
</html>
