<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>livro</title>
</head>
<body>
    
    <h1>Informática Conceitos Básicos</h1>
    <img src="https://i.ibb.co/7xnMK8ns/image.png" alt="image" border="0"></a>
    <p>Com linguagem simples e didática – sem, no entanto,<br> fugir da complexidade do assunto –, o livro procura <br>tornar prática a lógica de programação, além de mostrar <br> aos estudantes um caminho mais adequado na <br> construção dos algoritmos. O desenvolvimento do <br>raciocínio lógico e da abstração de procedimentos e <br>dados são as maiores dificuldades para os estudantes <br> dos cursos introdutórios. Nesse sentido, os autores <br>resolvem os problemas propostos passo a passo, <br> apresentando todos os conceitos envolvidos por meio de <br> fluxogramas e em conjunto com pseudocódigos. <br></p>
    <button>Acessar</button>
    <button>Baixar</button>
</body>
</html>