<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro </title>
    
</head>
<body>
      Nome: <input type="text" name="nome"><br>
      E-mail: <input type="text" name="email"><br>
      criar senha: <input type="password" name="senha"><br>
      Confirmação de senha: <input type="password" name="csenha"><br>
      sexo: <input type="text" name="sexo"><br>
      Data de nascimento: <input type="date" name="data_nascimento"><br>
      Administrador: 
        <select name="admin">
          <option value="True">Sim</option>
          <option value="False">Não</option>
        </select><br>
      <input type="submit" value="cadastrar">
      ja tem conta? <a href="login">login</a>
    </form>

</body>
</html>