<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>perfil</title>
</head>
<body>
    <div class="image">
        <img src="" alt="">
    </div>
    </div>
    <h1>perfil</h1>
        <label for="Nome ">Nome</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="E-mail">E-mail</label>
        <input type="password" id="senha" name="senha" required><br><br>

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required><br><br>


        <input type="submit" value="Salvar">
        <input type="submit" value="Cancelar">

    </form>

</body>
</html>
